<div class="pull-right">
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
</div>

<h1>Blocitoff:</h1>
<h2>A self-destructing to-do list to keep you focused on what really matters</h2>
