<div class="col-md-6 col-md-offset-3">
  <div style="width:400px;height:300px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;border:10px solid #000000;width: 900px;height: 600px">
    <h1 style="text-align:center">Blocitoff:</h1>
    <h2 style="text-align:center">A self-destructing to-do list to keep you focused on what really matters</h2>
  </div>
</div>