<%= form_for @item do |f| %>
<div class="form-inline">
  <b>New Entry:</b> <%= f.text_field :name, class: 'form-control' %>
  <div class="form-group">
    <%= f.submit "Create Item", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>